<?xml version="1.0"?>
<nlog xmln="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <targets>
    <target name="BWord" xsi:type="File"
            fileName="C:/Logs/BWord.log"
            layout="${longdate} | ${uppercase:${level}} | ${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true} | ${message}"
            archiveFileName="C:/Logs/BWord.{#}.log"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            maxArchiveFiles="30"
            concurrentWriters="true"
            keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="BWord" />
  </rules>
</nlog>
